# 本周作业
1. 设计一款你觉得需要的人脸功能的产品(或者其他产品)。
2. 尝试使用不同的API开放平台去实现（希望一定有Azure）：（可以不是人脸检测，可以更好的内容）
3. 做出来数据结构化的表格，去阐述你的功能附加加值。
4. 放到github上边

In [10]:
# 先导入为们需要的模块
import requests
import json
# 输入我们需要API网站注册的API_Key
KEY = '5310d8f9a3e5448bad6274c145811e92'
BASE_URL = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect' # 人脸检测
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''  
}

img_url = 'http://newmedia.nfu.edu.cn/wcy/wp-content/uploads/2018/04/post_20180424__NFU_DoraHacks_imoji%E5%9B%A2%E9%98%9F.jpg'
# 后面的数据，这里需要注意，一定要详细阅读API文档中的“参数功能”，按照要求格式准备有效载荷
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,glasses,emotion'), 
}
# 添加emotion
r = requests.post(BASE_URL, data=json.dumps(data), params=payload, headers=HEADERS)#HTTP post请求 请求参数

r.status_code # 查看参数回传状态码
results = r.json() 
results

[{'faceId': 'ddfd4ba1-3287-4c20-824c-6ee508fe4e26',
  'faceRectangle': {'top': 118, 'left': 144, 'width': 88, 'height': 88},
  'faceAttributes': {'gender': 'male',
   'age': 18.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.003,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.813,
    'neutral': 0.184,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '91a8c128-057c-4d04-947a-f252492f72c5',
  'faceRectangle': {'top': 117, 'left': 376, 'width': 64, 'height': 64},
  'faceAttributes': {'gender': 'female',
   'age': 20.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.001,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.456,
    'neutral': 0.542,
    'sadness': 0.001,
    'surprise': 0.0}}},
 {'faceId': '352fb5ed-4776-4136-b3d8-6b30b06fd16c',
  'faceRectangle': {'top': 41, 'left': 676, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'male',
   'age': 23.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'dd96bea7-eba3-4a00-97b9-04974c83c45e',
  'faceRectangle': {'top': 69, 'left': 445, 'width': 52, 'height': 52},
  'faceAttributes': {'gender': 'female',
   'age': 21.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': 'bcf0d0c1-41f5-482c-80c6-c5536bd72af9',
  'faceRectangle': {'top': 95, 'left': 238, 'width': 51, 'height': 51},
  'faceAttributes': {'gender': 'female',
   'age': 17.0,
   'glasses': 'ReadingGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.981,
    'neutral': 0.019,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '368d9159-98b6-4d32-a8a8-6015a597859b',
  'faceRectangle': {'top': 94, 'left': 540, 'width': 48, 'height': 48},
  'faceAttributes': {'gender': 'female',
   'age': 19.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [11]:
import pandas as pd 
import requests
df_ax = pd.json_normalize(results)
df_ax = df_ax.rename ( columns = {"faceAttributes.gender":"性别", 
                       "faceAttributes.age":"年龄",
                       "faceAttributes.glasses":"眼镜",
                       "faceAttributes.emotion.anger":"生气",
                       "faceAttributes.emotion.contempt":"蔑视",
                       "faceAttributes.emotion.disgust":"厌恶",
                       "faceAttributes.emotion.fear":"恐惧",
                       "faceAttributes.emotion.happiness":"高兴",
                       "faceAttributes.emotion.neutral":"平静",
                       "faceAttributes.emotion.sadness":"伤心",
                       "faceAttributes.emotion.surprise":"惊讶",} )
df_ax = df_ax.set_index('faceId')
df_ax = df_ax.iloc[:,4:]
df_ax.replace({"male":"男性",
               "female":"女性",
              "NoGlasses":"没戴眼睛",
              "ReadingGlasses":"戴眼镜",})

,性别,年龄,眼镜,生气,蔑视,厌恶,恐惧,高兴,平静,伤心,惊讶
faceId,,,,,,,,,,,
ddfd4ba1-3287-4c20-824c-6ee508fe4e26,男性,18.0,没戴眼睛,0.0,0.003,0.0,0.0,0.813,0.184,0.000,0.0
91a8c128-057c-4d04-947a-f252492f72c5,女性,20.0,没戴眼睛,0.0,0.001,0.0,0.0,0.456,0.542,0.001,0.0
352fb5ed-4776-4136-b3d8-6b30b06fd16c,男性,23.0,戴眼镜,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0
dd96bea7-eba3-4a00-97b9-04974c83c45e,女性,21.0,没戴眼睛,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0
bcf0d0c1-41f5-482c-80c6-c5536bd72af9,女性,17.0,戴眼镜,0.0,0.000,0.0,0.0,0.981,0.019,0.000,0.0
368d9159-98b6-4d32-a8a8-6015a597859b,女性,19.0,没戴眼睛,0.0,0.000,0.0,0.0,1.000,0.000,0.000,0.0

In [28]:
df

,face_token,face_rectangle.top,face_rectangle.left,face_rectangle.width,face_rectangle.height,attributes.gender.value,attributes.age.value,attributes.smile.value,attributes.smile.threshold,attributes.emotion.anger,attributes.emotion.disgust,attributes.emotion.fear,attributes.emotion.happiness,attributes.emotion.neutral,attributes.emotion.sadness,attributes.emotion.surprise
0,7259aebcf1102e77d319afb93421b20a,123,138,90,90,Male,23.0,99.995,50.0,0.059,0.059,0.059,42.294,52.431,4.920,0.179
1,6406687a3bddb21f8f578f71824bde69,122,373,65,65,Female,37.0,98.866,50.0,0.169,7.280,0.138,17.689,8.067,66.519,0.138
2,6bd9235ff544c5971a9f6ae32e6928e6,46,675,54,54,Male,23.0,100.000,50.0,0.000,0.000,0.000,99.996,0.001,0.002,0.001
3,fab96cc0c923e31011b2017d53874f81,98,235,53,53,Female,22.0,99.997,50.0,0.000,0.001,0.000,99.990,0.009,0.000,0.000
4,3d51431ac7243d1bfdfd9ff72eb0dd30,75,444,52,52,Female,28.0,99.999,50.0,0.001,0.001,0.027,99.933,0.027,0.010,0.001
5,e00fb75aac6cc7c5f6aa55b17bf8cd76,98,537,48,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df = pd.json_normalize(results,record_path='faces')

In [30]:
df_face_rectangle = df[['face_token','face_rectangle.top','face_rectangle.left','face_rectangle.width','face_rectangle.height']]

,face_token,face_rectangle.top,face_rectangle.left,face_rectangle.width,face_rectangle.height
0,7259aebcf1102e77d319afb93421b20a,123,138,90,90
1,6406687a3bddb21f8f578f71824bde69,122,373,65,65
2,6bd9235ff544c5971a9f6ae32e6928e6,46,675,54,54
3,fab96cc0c923e31011b2017d53874f81,98,235,53,53
4,3d51431ac7243d1bfdfd9ff72eb0dd30,75,444,52,52
5,e00fb75aac6cc7c5f6aa55b17bf8cd76,98,537,48,48

----

In [11]:
pd.DataFrame(df["face_rectangle"].to_dict())

          0    1    2    3    4    5
top     123  122   46   98   75   98
left    138  373  675  235  444  537
width    90   65   54   53   52   48
height   90   65   54   53   52   48

In [12]:
pd.DataFrame(df["face_rectangle"].to_dict()).T

   top  left  width  height
0  123   138     90      90
1  122   373     65      65
2   46   675     54      54
3   98   235     53      53
4   75   444     52      52
5   98   537     48      48

In [13]:
df_rect = pd.DataFrame(df["face_rectangle"].to_dict()).T
# 欄位名稱加上 face_rectangle 
df_rect.columns = [ "face_rectangle_"+x for x in df_rect.columns]
df_rect

,face_rectangle_top,face_rectangle_left,face_rectangle_width,face_rectangle_height
0,123,138,90,90
1,122,373,65,65
2,46,675,54,54
3,98,235,53,53
4,75,444,52,52
5,98,537,48,48

In [65]:
# 使用.join合併
df.join(df_rect)

,attributes,face_rectangle,face_token,face_rectangle_width,face_rectangle_top,face_rectangle_left,face_rectangle_height
0,"{'emotion': {'sadness': 4.92, 'neutral': 52.43...","{'width': 90, 'top': 123, 'left': 138, 'height...",5deb72f15e0af9c1c802b34e3752ff58,90,123,138,90
1,"{'emotion': {'sadness': 66.519, 'neutral': 8.0...","{'width': 65, 'top': 122, 'left': 373, 'height...",468ae7d534c0aa63a00566d1ac1d82f4,65,122,373,65
2,"{'emotion': {'sadness': 0.002, 'neutral': 0.00...","{'width': 54, 'top': 46, 'left': 675, 'height'...",2f22e764e77a43961e415b9579269901,54,46,675,54
3,"{'emotion': {'sadness': 0.0, 'neutral': 0.009,...","{'width': 53, 'top': 98, 'left': 235, 'height'...",19e3ecc4f3da6ed62c58f7f20b4653e5,53,98,235,53
4,"{'emotion': {'sadness': 0.01, 'neutral': 0.027...","{'width': 52, 'top': 75, 'left': 444, 'height'...",67ad68260072391c47dcd72fc62c73e5,52,75,444,52
5,NaN,"{'width': 48, 'top': 98, 'left': 537, 'height'...",0788086a4f4079f14514ff10f0dab526,48,98,537,48

In [15]:
df["attributes"].loc[4]['emotion']

{'anger': 0.001,
 'disgust': 0.001,
 'fear': 0.027,
 'happiness': 99.933,
 'neutral': 0.027,
 'sadness': 0.01,
 'surprise': 0.001}

In [81]:
[df["attributes"].loc[i]["emotion"] if type(df["attributes"].loc[i])  is dict else missing_value for i in df["attributes"].index ]

[{'sadness': 4.92,
  'neutral': 52.431,
  'disgust': 0.059,
  'anger': 0.059,
  'surprise': 0.179,
  'fear': 0.059,
  'happiness': 42.294},
 {'sadness': 66.519,
  'neutral': 8.067,
  'disgust': 7.28,
  'anger': 0.169,
  'surprise': 0.138,
  'fear': 0.138,
  'happiness': 17.689},
 {'sadness': 0.002,
  'neutral': 0.001,
  'disgust': 0.0,
  'anger': 0.0,
  'surprise': 0.001,
  'fear': 0.0,
  'happiness': 99.996},
 {'sadness': 0.0,
  'neutral': 0.009,
  'disgust': 0.001,
  'anger': 0.0,
  'surprise': 0.0,
  'fear': 0.0,
  'happiness': 99.99},
 {'sadness': 0.01,
  'neutral': 0.027,
  'disgust': 0.001,
  'anger': 0.001,
  'surprise': 0.001,
  'fear': 0.027,
  'happiness': 99.933},
 {'emotion': {'sadness': nan,
   'neutral': nan,
   'disgust': nan,
   'anger': nan,
   'surprise': nan,
   'fear': nan,
   'happiness': nan}}]